body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1cb69786;
}

.container {
  background: #252a2ea1;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.seleccion {
  margin-top: 90px;
}

.container ul {
  display: flex;
  list-style: none;
}

.container nav ul li a {
  text-align: none;
  color: azure;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.nav-responsive {
  background-color: #1cb698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 15px;
  margin-left: 20px;
  position: absolute;
}

.seleccion {
  width: 200px;
  height: 30px;
  position: absolute;
}

nav {
  display: none;
}


nav.responsive {
  display: block;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  background-color: #252a2e56;
  width: 180px;
  height: 250px;
}

nav.responsive ul {
  display: block !important;
}

nav.responsive ul li {
  align-items: center;
  padding: 10px 0;
}
